NODE_ENV=dev
NODE_TLS_REJECT_UNAUTHORIZED=0

FUNCTIONS_WORKER_RUNTIME=node
WEBSITE_NODE_DEFAULT_VERSION=14.16.0
APPINSIGHTS_INSTRUMENTATIONKEY=foo
MESSAGE_CONTAINER_NAME=message-content
SUBSCRIPTIONS_FEED_TABLE=SubscriptionsFeedByDay

QueueStorageConnection=storageConnectionString
LogsStorageConnection=storageConnectionString
NOTIFICATIONS_STORAGE_CONNECTION_STRING=storageConnectionString
EventsQueueStorageConnection=storageConnectionString
FN_APP_STORAGE_CONNECTION_STRING=storageConnectionString
DURABLE_FUNCTION_STORAGE_CONNECTION_STRING=storageConnectionString

MAIL_FROM=sender@example.com
FUNCTIONS_PUBLIC_URL=http://functions-public.localhost
PUBLIC_API_URL=http://host.docker.internal:80/functions-services
PUBLIC_API_KEY=api_key
SPID_LOGS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDhiXpvLD8UMMUy1T2JCzo/Sj5E\nl09Fs0z2U4aA37BrXlSo1DwQ2O9i2XFxXGJmE83siSWEfRlMWlabMu7Yj6dkZvmj\ndGIO4gotO33TgiAQcwRo+4pwjoCN7Td47yssCcj9C727zBt+Br+XK7B1bRcqjc0J\nYdF4yiVtD7G4RDXmRQIDAQAB\n-----END PUBLIC KEY-----"
DPO_EMAIL_ADDRESS=dpo@example.com
SLOT_TASK_HUBNAME=IoFunctionApp
MAILHOG_HOSTNAME=mailhog

NOTIFICATIONS_QUEUE_NAME=push-notifications
AZURE_NH_HUB_NAME=io-notification-hub-mock
AZURE_NH_ENDPOINT=Endpoint=sb://host.docker.internal:30000;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=foobar
AZURE_ENABLE_STRICT_SSL=false

REQ_SERVICE_ID=req_id_dev
MIGRATE_SERVICES_PREFERENCES_PROFILE_QUEUE_NAME=profile-migrate-services-preferences-from-legacy

EUCOVIDCERT_PROFILE_CREATED_QUEUE_NAME=eucovidcert-profile-created
FF_NEW_USERS_EUCOVIDCERT_ENABLED=true

EventsQueueName=events

COSMOSDB_URI=https://cosmosdb:3000/
COSMOSDB_KEY=dummykey
COSMOSDB_NAME=testdb
CUSTOMCONNSTR_COSMOSDB_KEY=dummykey
CUSTOMCONNSTR_COSMOSDB_URI=https://cosmosdb:3000/
COSMOSDB_PORT=3000

SPID_BLOB_CONTAINER_NAME=spidblob
SPID_BLOB_STORAGE_CONNECTION_STRING=foobar
BETA_USERS=[]
FF_TEMPLATE_EMAIL=NONE

API_GATEWAY_PORT=80
REQ_USER_GROUPS=req_groups

FUNCTION_PORT=7071
WAIT_MS=5000
SHOW_LOGS=false