APPINSIGHTS_INSTRUMENTATIONKEY=foo
COSMOSDB_KEY=key
COSMOSDB_NAME=cosmoname
COSMOSDB_URI=uri
FUNCTIONS_PUBLIC_URL=url
MAILHOG_HOSTNAME=mailhog
MAIL_FROM=mail@example.it
MESSAGE_CONTAINER_NAME=msg
NODE_ENV=dev
PUBLIC_API_KEY=key
PUBLIC_API_URL=url
QueueStorageConnection=foobar
EventsQueueStorageConnection=foobar
REQ_SERVICE_ID=req_id_dev
SPID_BLOB_CONTAINER_NAME=spidblob
SPID_BLOB_STORAGE_CONNECTION_STRING=foobar
SPID_LOGS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDhiXpvLD8UMMUy1T2JCzo/Sj5E\nl09Fs0z2U4aA37BrXlSo1DwQ2O9i2XFxXGJmE83siSWEfRlMWlabMu7Yj6dkZvmj\ndGIO4gotO33TgiAQcwRo+4pwjoCN7Td47yssCcj9C727zBt+Br+XK7B1bRcqjc0J\nYdF4yiVtD7G4RDXmRQIDAQAB\n-----END PUBLIC KEY-----"
SUBSCRIPTIONS_FEED_TABLE=feed
UBSCRIPTIONS_FEED_TABLE=feed